/* .siderStyleDiv
{
    border: 1px solid black;
    height: 100vh;
} */
.siderStyle 
{
    font-size: 30px;
    font-weight: bold;
    border: 1px solid black; 
}
.Schoolerp
{
    height: 90px;
}
.siderStyle h4
{
    color: white;
    background-color: black;
    margin-top: -30px;
}

.headerStyle
{
    font-weight: bold;
    font-size: 20px;
}

.students
{
    background-color: rgb(77, 118, 207);
    
}