/* .siderStyleDiv
{
    border: 1px solid black;
    height: 100vh;
} */
.siderStyle 
{
    font-size: 30px;
    font-weight: bold;
    border: 1px solid black; 
}
.Schoolerp
{
    height: 90px;
}
.siderStyle h4
{
    color: white;
    background-color: black;
    margin-top: -30px;
}

.headerStyle
{
    font-weight: bold;
    font-size: 20px;
}

.maindiv
{
    align-items: start;
    text-align: start;
}
.students
{
    background-color: rgb(77, 118, 207);
    
}
.mainfields
{
    margin-left: 40px;
    font-weight: bold;
    
}
.mainfields:required {
    border-color: black;
  }
.inputcss
{
    position: relative;
    text-align: left;
    width: 400px;
    height: 30px;
    left: 40px;
}
.inputcss1
{
    position: relative;
    text-align: left;
    width: 400px;
    height: 30px;
    left: 85px;
}
.inputcss2
{
    position: relative;
    text-align: left;
    width: 200px;
    height: 30px;
    left: 65px;
}
.addbtn
{
    margin-left: 40px;
}