/* .siderStyleDiv
{
    border: 1px solid black;
    height: 100vh;
} */
.siderStyle 
{
    font-size: 30px;
    font-weight: bold;
    border: 1px solid black; 
    text-align: 'center';
    line-height: '120px';
    color: 'black';
    background-color: '#fff';
    height: '100vh'
}
.Schoolerp
{
    height: 90px;
}
.siderStyle h4
{
    color: white;
    background-color: black;
    margin-top: -30px;
}

.headerStyle
{
    font-weight: bold;
    font-size: 20px;
}

.dashboard
{
    background-color: rgb(77, 118, 207);
    color: #fff;    
}

/* .hrline
{
    margin-bottom: 10px;
    color: black;
} */